.footer {
  background-color: var(--color-dark-text);
}

.footer .container {
  max-width: 1440px;
}

.footer__inner {
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: var(--light-text);
  /* padding: 150px 224.5px; */
  display: flex;
}

.foooter__page-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px 0;
  min-width: 186px;
}
.footer__pages-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__details-item {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  text-wrap: nowrap;
}

.footer__socials {
  padding: 20px 0;
  display: flex;
  gap: 0 24px;
  align-items: center;
}

@media (min-width: 320px) {
  .container {
    min-width: 380px;
    padding: 0 30px;
  }
  .footer__inner {
    padding: 107px 86px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 73px 0;
  }
  .footer__contacts {
    gap: 10px 0;
  }
  .footer__socials {
    margin-top: 10px;
    justify-content: center;
    padding: 0;
  }
}
@media (min-width: 900px) {
  .footer .container {
    padding: 0 100px;
  }
  .footer__inner {
    flex-direction: row;
  }
  .footer__contacts {
    margin-left: 100px;
    align-items: flex-start;
  }
}
@media (min-width: 1000px) {
  .footer__contacts {
    margin-left: 125px;
    align-items: flex-start;
  }
}
@media (min-width: 1200x) {
  .footer .container {
    padding: 0 186px;
  }
}
