.features {
  padding-bottom: 98px;
  .features__container {
    .features__header {
      margin-top: 80px;
      padding: 10px;
      .features__title {
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.2;
      }

      .features__subtitle {
        padding: 10px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2;
      }
    }
    .features__list {
      .features__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 255px;
        .features__icon {
          width: 61px;
          height: 61px;
          margin: 0 76, 5px 10px;
        }
        .features__item-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.1px;
        }
        .features__item-text {
          margin-top: 10px;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

@media (min-width: 320px) {
  .features__container {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .features__list {
    margin: 50px 81.5px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 75px;
  }
  .features__subtitle-second {
    display: none;
  }
  .features__video {
    margin-top: 50px;
    position: relative;
    .features__video-circle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 61.42px;
      height: 61.42px;
      border-radius: 50%;
      background-color: var(--primary-button);
    }
    .features__video-row {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12.8px;
      height: 15.36px;
    }
  }
}
@media (min-width: 700px) {
  .features__list {
    margin: 50px 81.5px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 75px;
  }
  .features__container :nth-child(2) {
    order: 3;
  }
  .features__subtitle-second {
    display: block;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: var(--color-second-text);
  }
}
