.features {
  padding-bottom: 98px;
  .features__container {
    .features__header {
      margin-top: 80px;
      padding: 10px;
      .features__title {
        font-size: 48px;
        line-height: 55px;
        letter-spacing: 0.2;
      }

      .features__subtitle {
        padding: 10px;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2;
      }
    }
    .features__video {
      margin-top: 50px;
      position: relative;
      .features__video-laptop {
        background-image: url("../img/features_video.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 215.77px;
        border-radius: 14.69px;
      }
      .features__video-circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 61.42px;
        height: 61.42px;
        border-radius: 50%;
        background-color: var(--primary-button);
      }
      .features__video-row {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12.8px;
        height: 15.36px;
      }
    }
    .features__list {
      margin: 50px 81.5px 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 75px;

      .features__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 255px;
        .features__icon {
          width: 61px;
          height: 61px;
          margin: 0 76, 5px 10px;
        }
        .features__item-title {
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: 0.1px;
        }
        .features__item-text {
          margin-top: 10px;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
